@model List<Mission08_7Habbits_App.Models.Task>

@{
    var Quadrant1 = ViewBag.Quadrant1 as List<Mission08_7Habbits_App.Models.Task>;
    var Quadrant2 = ViewBag.Quadrant2 as List<Mission08_7Habbits_App.Models.Task>;
    var Quadrant3 = ViewBag.Quadrant3 as List<Mission08_7Habbits_App.Models.Task>;
    var Quadrant4 = ViewBag.Quadrant4 as List<Mission08_7Habbits_App.Models.Task>;
}

<div class="container-fluid p-0 dynamic-table">
    <div class="quadrant-matrix">
        <!-- Quadrant I: Important / Urgent -->
        <div class="quadrant">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    Quadrant I: Important / Urgent
                </div>
                <div class="card-body table-wrapper">
                    <!-- Tasks for Quadrant I -->
                    <table class="table table-bordered table-wrapper">
                        <thead class="fw-bold">
                            <tr>
                                <td>Title</td>
                                <td>Due Date</td>
                                <td>Category</td>
                                <td>Completed</td>
                                <td></td>
                                <td></td>
                            </tr>
                        </thead>
                        <!--Display all the tasks in Quadrant1-->
                        @foreach (var x in Quadrant1)
                        {
                            @if (x.Completed != true)
                            {
                                <tbody>
                                    <tr>
                                        <td>@x.Title</td>
                                        <td>@x.DueDate</td>
                                        <td>@(((List<Category>)ViewBag.category)?.Single(cat => cat.CategoryID == x.CategoryID)?.CatName)</td>
                                        <td>@x.Completed</td>


                                        <td><a class="btn btn-info" asp-controller="Home" asp-action="Edit" asp-route-id="@x.TaskID">Edit</a></td>
                                        <td>
                                            <form asp-action="Delete" asp-controller="Home" method="post">
                                                <input type="hidden" asp-for="@x.TaskID" />
                                                <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this item?');">Delete</button>
                                            </form>
                                        </td>
                                    </tr>
                                </tbody>
                            }
                        }
                    </table>
                </div>
            </div>
        </div>

        <!-- Quadrant II: Important / Not Urgent -->
        <div class="quadrant">
            <div class="card">
                <div class="card-header bg-success text-white">
                    Quadrant II: Important / Not Urgent
                </div>
                <div class="card-body table-wrapper">
                    <!-- Tasks for Quadrant II -->
                    <table class="table table-bordered table-wrapper">
                        <thead class="fw-bold">
                            <tr>
                                <td>Title</td>
                                <td>Due Date</td>
                                <td>Category</td>
                                <td>Completed</td>
                                <td></td>
                                <td></td>
                            </tr>
                        </thead>
                        <!--Display all the tasks in Quadrant2-->
                        @foreach (var x in Quadrant2)
                        {
                            @if (x.Completed != true)
                            {
                                <tbody>
                                    <tr>
                                        <td>@x.Title</td>
                                        <td>@x.DueDate</td>
                                        <td>@(((List<Category>)ViewBag.category)?.Single(cat => cat.CategoryID == x.CategoryID)?.CatName)</td>
                                        <td>@x.Completed</td>


                                        <td><a class="btn btn-info" asp-controller="Home" asp-action="Edit" asp-route-id="@x.TaskID">Edit</a></td>
                                        <td>
                                            <form asp-action="Delete" asp-controller="Home" method="post">
                                                <input type="hidden" asp-for="@x.TaskID" />
                                                <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this item?');">Delete</button>
                                            </form>
                                        </td>
                                    </tr>
                                </tbody>
                            }
                        } 
                    </table>
                </div>
            </div>
        </div>

        <!-- Quadrant III: Not Important / Urgent -->
        <div class="quadrant">
            <div class="card">
                <div class="card-header bg-warning text-dark">
                    Quadrant III: Not Important / Urgent
                </div>
                <div class="card-body table-wrapper">
                    <!-- Tasks for Quadrant III -->
                    <table class="table table-bordered table-wrapper">
                        <thead class="fw-bold">
                            <tr>
                                <td>Title</td>
                                <td>Due Date</td>
                                <td>Category</td>
                                <td>Completed</td>
                                <td></td>
                                <td></td>
                            </tr>
                        </thead>
                        <!--Display all the tasks in Quadrant3-->
                        @foreach (var x in Quadrant3)
                        {
                            @if (x.Completed != true)
                            {
                                <tbody class="table-wrapper">
                                    <tr>
                                        <td>@x.Title</td>
                                        <td>@x.DueDate</td>
                                        <td>@(((List<Category>)ViewBag.category)?.Single(cat => cat.CategoryID == x.CategoryID)?.CatName)</td>
                                        <td>@x.Completed</td>


                                        <td><a class="btn btn-info" asp-controller="Home" asp-action="Edit" asp-route-id="@x.TaskID">Edit</a></td>
                                        <td>
                                            <form asp-action="Delete" asp-controller="Home" method="post">
                                                <input type="hidden" asp-for="@x.TaskID" />
                                                <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this item?');">Delete</button>
                                            </form>
                                        </td>
                                    </tr>
                                </tbody>
                            }
                        }
                    </table>
                </div>
            </div>
        </div>

        <!-- Quadrant IV: Not Important / Not Urgent -->
        <div class="quadrant">
            <div class="card">
                <div class="card-header bg-dark text-white">
                    Quadrant IV: Not Important / Not Urgent
                </div>
                <div class="card-body table-wrapper">
                    <!-- Tasks for Quadrant IV -->
                    <table class="table table-bordered table-wrapper">
                        <thead class="fw-bold">
                            <tr>
                                <td>Title</td>
                                <td>Due Date</td>
                                <td>Category</td>
                                <td>Completed</td>
                                <td></td>
                                <td></td>
                            </tr>
                        </thead>
                        <!--Display all the tasks in Quadrant4-->
                        @foreach (var x in Quadrant4)
                        {
                            @if (x.Completed != true)
                            {
                                <tbody>
                                    <tr>
                                        <td>@x.Title</td>
                                        <td>@x.DueDate</td>
                                        <td>@(((List<Category>)ViewBag.category)?.Single(cat => cat.CategoryID == x.CategoryID)?.CatName)</td>
                                        <td>@x.Completed</td>


                                        <td><a class="btn btn-info" asp-controller="Home" asp-action="Edit" asp-route-id="@x.TaskID">Edit</a></td>
                                        <td>
                                            <form asp-action="Delete" asp-controller="Home" method="post">
                                                <input type="hidden" asp-for="@x.TaskID" />
                                                <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this item?');">Delete</button>
                                            </form>
                                        </td>
                                    </tr>
                                </tbody>
                            }
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>